In [1]:
import sqlite3
import pandas as pd
import os

In [2]:
os.getcwd()

'C:\\Users\\Ayesha\\Desktop\\SQLFiles Tier 1'

In [3]:
# import sqlite3
from sqlite3 import Error
 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn
 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT *
        FROM FACILITIES
        """
    cur.execute(query1)
 
    rows = cur.fetchall()

    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
(6, 'Squash Court', 3.5, 17.5, 5000, 80)
(7, 'Snooker Table', 0, 5, 450, 15)
(8, 'Pool Table', 0, 5, 400, 15)

In [4]:
# Q10: Produce a list of facilities with a total revenue less than 1000. 
# The output of facility name and total revenue, sorted by revenue. 
# Remember that there's a different cost for guests and members!
# import sqlite3
from sqlite3 import Error
 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT name, revenue 
        FROM (SELECT f.name, SUM(CASE 
                WHEN memid = 0 THEN slots * f.guestcost
                ELSE slots * membercost END) AS revenue
        FROM bookings AS b
        INNER JOIN facilities AS f
        ON b.facid = f.facid
        GROUP BY f.name) as fac_rev 
        WHERE revenue < 1000
        ORDER BY revenue;
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
        
        
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Table Tennis', 180)
('Snooker Table', 240)
('Pool Table', 270)

In [5]:
# Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order
from sqlite3 import Error
 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT m.surname, m.firstname, rec.surname, rec.firstname
        FROM Members as m
        LEFT JOIN Members AS rec
        ON rec.memid = m.recommendedby
        ORDER BY m.surname, m.firstname;
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Bader', 'Florence', 'Stibbons', 'Ponder')
('Baker', 'Anne', 'Stibbons', 'Ponder')
('Baker', 'Timothy', 'Farrell', 'Jemima')
('Boothe', 'Tim', 'Rownam', 'Tim')
('Butters', 'Gerald', 'Smith', 'Darren')
('Coplin', 'Joan', 'Baker', 'Timothy')
('Crumpet', 'Erica', 'Smith', 'Tracy')
('Dare', 'Nancy', 'Joplette', 'Janice')
('Farrell', 'David', None, None)
('Farrell', 'Jemima', None, None)
('GUEST', 'GUEST', None, None)
('Genting', 'Matthew', 'Butters', 'Gerald')
('Hunt', 'John', 'Purview', 'Millicent')
('Jones', 'David', 'Joplette', 'Janice')
('Jones', 'Douglas', 'Jones', 'David')
('Joplette', 'Janice', 'Smith', 'Darren')
('Mackenzie', 'Anna', 'Smith', 'Darren')
('Owen', 'Charles', 'Smith', 'Darren')
('Pinker', 'David', 'Farrell', 'Jemima')
('Purview', 'Millicent', 'Smith', 'Tracy')
('Rownam', 'Tim', None, None)
('Rumney', 'Henrietta', 'Genting', 'Matthew')
('Sarwin', 'Ramnaresh', 'Bader', 'Florence')
('Smith', 'Darren', None, None)
('Smith', 'Darren', None, None)
('Smith', 'Jack', 'Smith', 'Darren')
('Smith', 'Tracy', None, None)
('Stibbons', 'Ponder', 'Tracy', 'Burton')
('Tracy', 'Burton', None, None)
('Tupperware', 'Hyacinth', None, None)
('Worthington-Smyth', 'Henry', 'Smith', 'Tracy')

In [6]:
# Q12: Find the facilities with their usage by member, but not guests

from sqlite3 import Error
 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn
 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT f.name AS facility, SUM(b.slots) AS total_mem_slots, m.surname, m.firstname 
        FROM Facilities AS f 
        INNER JOIN Bookings as b 
        ON b.facid = f.facid
        INNER JOIN Members as m
        ON b.memid = m.memid
        WHERE b.memid > 0 
        GROUP BY facility, m.surname, m.firstname
        ORDER BY facility;
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Badminton Court', 27, 'Bader', 'Florence')
('Badminton Court', 30, 'Baker', 'Anne')
('Badminton Court', 21, 'Baker', 'Timothy')
('Badminton Court', 36, 'Boothe', 'Tim')
('Badminton Court', 63, 'Butters', 'Gerald')
('Badminton Court', 6, 'Crumpet', 'Erica')
('Badminton Court', 30, 'Dare', 'Nancy')
('Badminton Court', 21, 'Farrell', 'Jemima')
('Badminton Court', 6, 'Hunt', 'John')
('Badminton Court', 24, 'Jones', 'David')
('Badminton Court', 6, 'Jones', 'Douglas')
('Badminton Court', 96, 'Mackenzie', 'Anna')
('Badminton Court', 18, 'Owen', 'Charles')
('Badminton Court', 21, 'Pinker', 'David')
('Badminton Court', 6, 'Purview', 'Millicent')
('Badminton Court', 12, 'Rownam', 'Tim')
('Badminton Court', 21, 'Sarwin', 'Ramnaresh')
('Badminton Court', 432, 'Smith', 'Darren')
('Badminton Court', 36, 'Smith', 'Jack')
('Badminton Court', 102, 'Smith', 'Tracy')
('Badminton Court', 48, 'Stibbons', 'Ponder')
('Badminton Court', 6, 'Tracy', 'Burton')
('Badminton Court', 3, 'Tupperware', 'Hyacinth')
('Badminton Court', 15, 'Worthington-Smyth', 'Henry')
('Massage Room 1', 6, 'Baker', 'Anne')
('Massage Room 1', 50, 'Baker', 'Timothy')
('Massage Room 1', 76, 'Boothe', 'Tim')
('Massage Room 1', 66, 'Butters', 'Gerald')
('Massage Room 1', 2, 'Coplin', 'Joan')
('Massage Room 1', 4, 'Crumpet', 'Erica')
('Massage Room 1', 38, 'Dare', 'Nancy')
('Massage Room 1', 68, 'Farrell', 'Jemima')
('Massage Room 1', 52, 'Genting', 'Matthew')
('Massage Room 1', 6, 'Hunt', 'John')
('Massage Room 1', 40, 'Jones', 'David')
('Massage Room 1', 24, 'Joplette', 'Janice')
('Massage Room 1', 2, 'Mackenzie', 'Anna')
('Massage Room 1', 22, 'Owen', 'Charles')
('Massage Room 1', 6, 'Pinker', 'David')
('Massage Room 1', 176, 'Rownam', 'Tim')
('Massage Room 1', 16, 'Sarwin', 'Ramnaresh')
('Massage Room 1', 58, 'Smith', 'Darren')
('Massage Room 1', 54, 'Smith', 'Jack')
('Massage Room 1', 12, 'Smith', 'Tracy')
('Massage Room 1', 40, 'Stibbons', 'Ponder')
('Massage Room 1', 62, 'Tracy', 'Burton')
('Massage Room 1', 2, 'Tupperware', 'Hyacinth')
('Massage Room 1', 2, 'Worthington-Smyth', 'Henry')
('Massage Room 2', 4, 'Bader', 'Florence')
('Massage Room 2', 4, 'Baker', 'Anne')
('Massage Room 2', 2, 'Butters', 'Gerald')
('Massage Room 2', 4, 'Coplin', 'Joan')
('Massage Room 2', 10, 'Dare', 'Nancy')
('Massage Room 2', 2, 'Genting', 'Matthew')
('Massage Room 2', 8, 'Jones', 'David')
('Massage Room 2', 4, 'Joplette', 'Janice')
('Massage Room 2', 4, 'Owen', 'Charles')
('Massage Room 2', 4, 'Rownam', 'Tim')
('Massage Room 2', 6, 'Sarwin', 'Ramnaresh')
('Massage Room 2', 2, 'Smith', 'Jack')
('Pool Table', 23, 'Bader', 'Florence')
('Pool Table', 12, 'Baker', 'Anne')
('Pool Table', 95, 'Baker', 'Timothy')
('Pool Table', 26, 'Boothe', 'Tim')
('Pool Table', 6, 'Butters', 'Gerald')
('Pool Table', 11, 'Coplin', 'Joan')
('Pool Table', 19, 'Dare', 'Nancy')
('Pool Table', 25, 'Farrell', 'David')
('Pool Table', 1, 'Farrell', 'Jemima')
('Pool Table', 18, 'Genting', 'Matthew')
('Pool Table', 8, 'Jones', 'David')
('Pool Table', 2, 'Jones', 'Douglas')
('Pool Table', 27, 'Joplette', 'Janice')
('Pool Table', 83, 'Mackenzie', 'Anna')
('Pool Table', 1, 'Owen', 'Charles')
('Pool Table', 9, 'Pinker', 'David')
('Pool Table', 5, 'Purview', 'Millicent')
('Pool Table', 282, 'Rownam', 'Tim')
('Pool Table', 3, 'Rumney', 'Henrietta')
('Pool Table', 13, 'Sarwin', 'Ramnaresh')
('Pool Table', 28, 'Smith', 'Darren')
('Pool Table', 7, 'Smith', 'Jack')
('Pool Table', 64, 'Smith', 'Tracy')
('Pool Table', 12, 'Stibbons', 'Ponder')
('Pool Table', 30, 'Tracy', 'Burton')
('Pool Table', 9, 'Tupperware', 'Hyacinth')
('Pool Table', 37, 'Worthington-Smyth', 'Henry')
('Snooker Table', 66, 'Bader', 'Florence')
('Snooker Table', 90, 'Boothe', 'Tim')
('Snooker Table', 72, 'Butters', 'Gerald')
('Snooker Table', 20, 'Coplin', 'Joan')
('Snooker Table', 46, 'Dare', 'Nancy')
('Snooker Table', 2, 'Farrell', 'David')
('Snooker Table', 44, 'Farrell', 'Jemima')
('Snooker Table', 2, 'Genting', 'Matthew')
('Snooker Table', 4, 'Jones', 'David')
('Snooker Table', 142, 'Joplette', 'Janice')
('Snooker Table', 14, 'Mackenzie', 'Anna')
('Snooker Table', 44, 'Owen', 'Charles')
('Snooker Table', 32, 'Pinker', 'David')
('Snooker Table', 2, 'Purview', 'Millicent')
('Snooker Table', 28, 'Rumney', 'Henrietta')
('Snooker Table', 36, 'Sarwin', 'Ramnaresh')
('Snooker Table', 24, 'Smith', 'Darren')
('Snooker Table', 10, 'Smith', 'Jack')
('Snooker Table', 90, 'Smith', 'Tracy')
('Snooker Table', 40, 'Stibbons', 'Ponder')
('Snooker Table', 40, 'Tracy', 'Burton')
('Snooker Table', 12, 'Tupperware', 'Hyacinth')
('Squash Court', 4, 'Bader', 'Florence')
('Squash Court', 110, 'Baker', 'Anne')
('Squash Court', 10, 'Baker', 'Timothy')
('Squash Court', 24, 'Boothe', 'Tim')
('Squash Court', 18, 'Butters', 'Gerald')
('Squash Court', 2, 'Coplin', 'Joan')
('Squash Court', 2, 'Farrell', 'David')
('Squash Court', 16, 'Farrell', 'Jemima')
('Squash Court', 2, 'Hunt', 'John')
('Squash Court', 16, 'Jones', 'David')
('Squash Court', 2, 'Jones', 'Douglas')
('Squash Court', 30, 'Joplette', 'Janice')
('Squash Court', 4, 'Mackenzie', 'Anna')
('Squash Court', 14, 'Owen', 'Charles')
('Squash Court', 6, 'Pinker', 'David')
('Squash Court', 2, 'Purview', 'Millicent')
('Squash Court', 4, 'Rumney', 'Henrietta')
('Squash Court', 4, 'Sarwin', 'Ramnaresh')
('Squash Court', 30, 'Smith', 'Darren')
('Squash Court', 22, 'Smith', 'Jack')
('Squash Court', 12, 'Smith', 'Tracy')
('Squash Court', 4, 'Stibbons', 'Ponder')
('Squash Court', 78, 'Tracy', 'Burton')
('Squash Court', 2, 'Tupperware', 'Hyacinth')
('Table Tennis', 86, 'Bader', 'Florence')
('Table Tennis', 2, 'Baker', 'Anne')
('Table Tennis', 48, 'Baker', 'Timothy')
('Table Tennis', 8, 'Boothe', 'Tim')
('Table Tennis', 2, 'Butters', 'Gerald')
('Table Tennis', 46, 'Coplin', 'Joan')
('Table Tennis', 4, 'Crumpet', 'Erica')
('Table Tennis', 10, 'Dare', 'Nancy')
('Table Tennis', 24, 'Farrell', 'Jemima')
('Table Tennis', 54, 'Genting', 'Matthew')
('Table Tennis', 2, 'Hunt', 'John')
('Table Tennis', 22, 'Jones', 'David')
('Table Tennis', 18, 'Joplette', 'Janice')
('Table Tennis', 32, 'Mackenzie', 'Anna')
('Table Tennis', 50, 'Owen', 'Charles')
('Table Tennis', 34, 'Pinker', 'David')
('Table Tennis', 14, 'Purview', 'Millicent')
('Table Tennis', 150, 'Rownam', 'Tim')
('Table Tennis', 6, 'Sarwin', 'Ramnaresh')
('Table Tennis', 56, 'Smith', 'Darren')
('Table Tennis', 10, 'Smith', 'Jack')
('Table Tennis', 56, 'Smith', 'Tracy')
('Table Tennis', 6, 'Stibbons', 'Ponder')
('Table Tennis', 48, 'Tracy', 'Burton')
('Table Tennis', 6, 'Worthington-Smyth', 'Henry')
('Tennis Court 1', 3, 'Bader', 'Florence')
('Tennis Court 1', 18, 'Baker', 'Anne')
('Tennis Court 1', 45, 'Baker', 'Timothy')
('Tennis Court 1', 12, 'Boothe', 'Tim')
('Tennis Court 1', 171, 'Butters', 'Gerald')
('Tennis Court 1', 21, 'Coplin', 'Joan')
('Tennis Court 1', 3, 'Crumpet', 'Erica')
('Tennis Court 1', 81, 'Dare', 'Nancy')
('Tennis Court 1', 18, 'Farrell', 'David')
('Tennis Court 1', 3, 'Farrell', 'Jemima')
('Tennis Court 1', 3, 'Genting', 'Matthew')
('Tennis Court 1', 12, 'Hunt', 'John')
('Tennis Court 1', 84, 'Jones', 'David')
('Tennis Court 1', 27, 'Jones', 'Douglas')
('Tennis Court 1', 57, 'Joplette', 'Janice')
('Tennis Court 1', 51, 'Owen', 'Charles')
('Tennis Court 1', 51, 'Pinker', 'David')
('Tennis Court 1', 18, 'Rownam', 'Tim')
('Tennis Court 1', 15, 'Sarwin', 'Ramnaresh')
('Tennis Court 1', 75, 'Smith', 'Jack')
('Tennis Court 1', 93, 'Smith', 'Tracy')
('Tennis Court 1', 3, 'Stibbons', 'Ponder')
('Tennis Court 1', 93, 'Tracy', 'Burton')
('Tennis Court 2', 24, 'Bader', 'Florence')
('Tennis Court 2', 114, 'Baker', 'Anne')
('Tennis Court 2', 21, 'Baker', 'Timothy')
('Tennis Court 2', 168, 'Boothe', 'Tim')
('Tennis Court 2', 9, 'Butters', 'Gerald')
('Tennis Court 2', 33, 'Dare', 'Nancy')
('Tennis Court 2', 3, 'Farrell', 'David')
('Tennis Court 2', 3, 'Farrell', 'Jemima')
('Tennis Court 2', 12, 'Hunt', 'John')
('Tennis Court 2', 99, 'Jones', 'David')
('Tennis Court 2', 24, 'Joplette', 'Janice')
('Tennis Court 2', 141, 'Owen', 'Charles')
('Tennis Court 2', 3, 'Purview', 'Millicent')
('Tennis Court 2', 18, 'Rownam', 'Tim')
('Tennis Court 2', 3, 'Rumney', 'Henrietta')
('Tennis Court 2', 36, 'Sarwin', 'Ramnaresh')
('Tennis Court 2', 57, 'Smith', 'Darren')
('Tennis Court 2', 3, 'Smith', 'Jack')
('Tennis Court 2', 6, 'Smith', 'Tracy')
('Tennis Court 2', 96, 'Stibbons', 'Ponder')
('Tennis Court 2', 9, 'Tracy', 'Burton')

In [7]:
# Q13: Find the facilities usage by month, but not guests

from sqlite3 import Error
 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn
 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT f.name AS facility, SUM(b.slots) AS total_mem_slots, strftime('%m', b.starttime) AS month
        FROM Facilities AS f 
        INNER JOIN Bookings as b 
        ON b.facid = f.facid
        INNER JOIN Members as m
        ON b.memid = m.memid
        WHERE b.memid > 0 
        GROUP BY facility, month
        ORDER BY facility;
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Badminton Court', 165, '07')
('Badminton Court', 414, '08')
('Badminton Court', 507, '09')
('Massage Room 1', 166, '07')
('Massage Room 1', 316, '08')
('Massage Room 1', 402, '09')
('Massage Room 2', 8, '07')
('Massage Room 2', 18, '08')
('Massage Room 2', 28, '09')
('Pool Table', 110, '07')
('Pool Table', 303, '08')
('Pool Table', 443, '09')
('Snooker Table', 140, '07')
('Snooker Table', 316, '08')
('Snooker Table', 404, '09')
('Squash Court', 50, '07')
('Squash Court', 184, '08')
('Squash Court', 184, '09')
('Table Tennis', 98, '07')
('Table Tennis', 296, '08')
('Table Tennis', 400, '09')
('Tennis Court 1', 201, '07')
('Tennis Court 1', 339, '08')
('Tennis Court 1', 417, '09')
('Tennis Court 2', 123, '07')
('Tennis Court 2', 345, '08')
('Tennis Court 2', 414, '09')